<header class="header">
  <div class="header">
      <nav class="navbar">
       
            <a routerLink="/">Home</a>
            <a routerLink="/whiskey/catalog">Whiskeys</a>
            <span *ngIf="isLoggedIn">
              <a routerLink="/auth/profile">Profile</a>
              <a routerLink="/whiskey/new">Publish Whiskey</a>
              <a routerLink="/auth/logout">Logout</a>
            </span>
            <span *ngIf="!isLoggedIn">
              <a routerLink="/auth/login">Login</a>
              <a routerLink="/auth/register">Register</a>
            </span>
      </nav>  
    </div>  
    
   </header>
