/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  background-color: white;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #444;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: rgb(235, 135, 5);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: rgb(200, 116, 6);
}

@keyframes cssAnimation {
  to {
      width: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
      width: 0;
      height: 0;
      visibility: hidden;
      padding: 0;
  }
}