.footer {
    position: fixed;
   // font-size: x-large;
    height: 30px;
    margin: auto;
    left: 0;
    bottom: 0;
    //padding: 1.2rem;
    font-size: 1.7rem;
    width: 100%;
    background-color:  rgb(235, 135, 5);
    color:black;
    text-align: center;
}